Django==3.2.7
psycopg2-binary==2.8.6
redis==3.5.3
django-redis==4.12.1
djangorestframework==3.12.4
PyJWT==2.0.1
celery==5.1.2
django-celery-beat==2.2.0
aiokafka==0.7.2
kafka-python==2.0.2
supervisor==4.2.2
django-mptt==0.13.4





